<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="visitor">
	<select id="selectBySearch" parameterType="Map" resultType="Map">
        SELECT * FROM spring_mysql.VISITORS;
	</select>
	<!-- 상세 -->
	<select id="selectByUID" parameterType="Map" resultType="Map">
		select *
		from spring_mysql.VISITORS
		WHERE 1=1
		AND PK_VISITORS = #{PK_VISITORS};
	</select>

	<!-- 입력 -->
	<insert id="insert" parameterType="Map">
		INSERT INTO spring_mysql.VISITORS 
		(PK_VISITORS, WRITER_ID, PK_BOARDS) 
		VALUES 
		(#{PK_VISITORS}, #{WRITER_ID}, #{PK_BOARDS}) ;
    </insert>

	<!-- 수정 -->
	<update id="update" parameterType="Map">
		UPDATE spring_mysql.VISITORS
		SET PK_BOARDS = #{PK_BOARDS}
		WHERE 1 = 1
		AND WRITER_ID = #{WRITER_ID};
    </update>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="Map">
		DELETE FROM spring_mysql.VISITORS
		WHERE 1 = 1
		AND PK_VISITORS = #{PK_VISITORS};
    </delete>
</mapper>